html {
  background-color: rgb(54,54,49);
  font-family: 'Black Ops One', cursive;
}

body {
  font-family: 'Black Ops One', cursive;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Shade&family=Monoton&display=swap');